<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">
        Edit <%= blog.title %>
        <!-- Have to send the edit to the UPDATE route -->
        <!-- Crazy work-around using method overriding so that POST will be made into a PUT request -->
        <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
            <div class="field"> 
                <label>Title</label>
                <input type="text" name="blog[title]" value='<%= blog.title %>'>
            </div>
            
            <div class="field"> 
                <label>Image</label>
                <input type="text" name="blog[image]" value=" <%= blog.image %>">
            </div>
            
            <div class="field"> 
                <label>Body</label>
                <textarea name="blog[body]"><%= blog.body %></textarea>
            </div>
            <button class="ui purple basic button">Update</button>
           
        </form>
    </div>
</div>

<% include ./partials/footer %>