<% include partials/header %>

<div>
<h1> INDEX PAGE! </h1>

<% blogs.forEach(function(blog) { %>
    <div>
        <h3> <%= blog.title %> </h3>
        <div>
            <img src="<%= blog.image %>" style="width:30%">
        </div>
        <span> <%= blog.created %> </span>
        <!-- Only show the first 100 characters of the blog post -->
        <% if (blog.body.length <= 100) { %>
            <p><%= blog.body %></p>
        <% } else { %>
            <p><%= blog.body.substring(0, 100) %>. . .</p>
        <% } %>
        <a href="/blogs/<%= blog._id %>">Read More</a>
    </div>
<% }) %>
</div>
<% include partials/footer %>